

/* If weather_main_report == 'Clouds' */

.main-weather-output-container-cloudy {
    /* Main container for weather output box */
    width: 600px;
    position: relative;
    left:200px;
}

/* If weather_main_report == 'Clouds' */
.cloudy-weather-box {
    /* first container for the first weather output box */
    width: 500px;
    background: url("https://images.unsplash.com/photo-1500740516770-92bd004b996e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNsb3VkeXxlbnwwfHwwfHw%3D&w=1000&q=80");
    padding: 10px;
    border-radius: 20px;
    height: 380px;
    margin: auto;
}

/* City name and location icon container  */
.city-name-location-icon-contain-cloudy {
    /* city name and loctation icon main container div */
    position: relative;
    margin-bottom: 5px;
    width: 240px;
}

/* Weather description and icon container */
.weather-d-container-cloudy {
    /* weather description and weather icons main container div */
    position: relative;
    text-align: center;
    width: 240px;
    margin-bottom: 8px;
}
.weather-description-cloudy {
    display: inline-block;
    color: white;
    text-shadow: 2px 2px black;
}
.weather-d-icon-cloudy {
    display: inline-block;
    position: relative;
    bottom: 8px;
}


.actual-weather-dcloudy {
    position: relative;
    width: 240px;
    text-align: center;
}

.actual-weather-dcloudy h1 {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 20px;
}

.actual-weather-degrees-cloudy {
    /* Weather degrees container */
    background: rgba(252, 249, 249, 0.4);
    border-radius: 20px;
    position: relative;
    top: 10px;
    left: 35px;
    width: 170px;
}

.actual-weather-degrees-cloudy h1 {
    font-size: 80px;
    color: black;
    text-shadow: 2px 2px white;
}

/* Weather date, day and time conatiner and itself */

.weather-day-cloudy {
    /* Weather day inside first container */
    width: 215px;
    text-align: center;
    position: relative;
    border-radius: 20px;
    top: 10px;
    padding: 5px;
    left: 14px;
    background: rgba(252, 249, 249, 0.4);
}

.weather-day-cloudy h1 {
    /* Weather day inside DATE itself */
    font-size: 20px;
    width: 200px;
    position: relative;
    text-shadow: 1px 1px white;
    top: 4px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
/* End weather date, day and time conatiner and itself */


.max-min-temp-div-cloudy {
    width: 230px;
    text-align: center;
    position: relative;
    bottom: 300px;
    left: 250px;
}

.max-min-temp-div-cloudy h1 {
    font-size: 15px;
    text-shadow: 2px 2px black;
    color: rgb(255, 255, 255);
}


.humidty-cloudy {
    width: 230px;
    text-align: center;
    position: relative;
    bottom: 280px;
    left: 250px;
}

.humidty-cloudy h1 {
    text-shadow: 2px 2px black;
    color: rgb(255, 255, 255);
}


.humidty-cloudy h2 {
    position: relative;
    bottom: 10px;
    left: 5px;
    text-shadow: 2px 2px black;
    color: rgb(255, 255, 255);
}


.wind-speed-cloudy {
    width: 210px;
    text-align: center;
    position: relative;
    bottom: 280px;
    border-radius: 20px;
    left: 250px;
}


.wind-speed-speed {
    display: inline-block;
    text-shadow: 2px 2px black;
    color: rgb(255, 255, 255);
}

.wind-speed-speed h1 {
    font-size: 20px;
}

.wind-speed-icon {
    display: inline-block;
}


.visibility-container {
    width: 210px;
    text-align: center;
    position: relative;
    bottom: 280px;
    border-radius: 20px;
    left: 250px;
}


.visibility-icon-cloudy {
    display: inline-block;
}


.visibility-visibility {
    display: inline-block;
    position: relative;
    top: 12px;
    left: 5px;
}

.visibility-visibility h1 {
    font-size: 25px;
    text-shadow: 2px 2px black;
    color: white;
}
/* end of first weather box container */





















/* Start of side weather next few hours container box */


/* Side weather for next few hours */
.next-hours-weather-cloudy {
    /* Main container for next hours weather box */
    position: absolute;
    border-radius: 20px;
    bottom: 380px;
    height: 110px;
    width: 300px;
    padding: 15px;
    background: rgba(252, 249, 249, 0.4);
    left: 760px;
}


.next-hours-weather-cloudy h1 {
    font-size: 20px;
    color: black;
}


.icon-and-min-max-container {
    padding: 10px;
}

.side-hour-date {
    position: absolute;
    bottom: 70px;
    left: 10px;
}

.side-hour-icon {
    display: inline-block;
    position: relative;
    left: 120px;
}


.side-hour-max-min {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 140px;
}

.side-hour-max-min h1{
    font-size: 13px;
}


.side-hour-weather-d {
    position: relative;
    left: 160px;
}

.side-hour-weather-d h1{
    font-size: 12px;
}


.side-hour-time {
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.side-hour-time h1 {
    font-size: 30px;
}









.next-hours-weather-cloudy2 {
    /* Main container for next hours weather box */
    position: absolute;
    border-radius: 20px;
    bottom: 265px;
    height: 110px;
    width: 300px;
    padding: 15px;
    background: rgba(252, 249, 249, 0.4);
    left: 760px;
}


.next-hours-weather-cloudy2 h1 {
    font-size: 20px;
    color: black
}


.icon-and-min-max-container2 {
    padding: 10px;
}

.side-hour-date2 {
    position: absolute;
    bottom: 70px;
    left: 10px;
}

.side-hour-icon2 {
    display: inline-block;
    position: relative;
    left: 120px;
}


.side-hour-max-min2 {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 140px;
}

.side-hour-max-min2 h1{
    font-size: 13px;
}


.side-hour-weather-d2 {
    position: relative;
    left: 160px;
}

.side-hour-weather-d2 h1{
    font-size: 12px;
}


.side-hour-time2 {
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.side-hour-time2 h1 {
    font-size: 30px;
}















.next-hours-weather-cloudy3 {
    /* Main container for next hours weather box */
    position: absolute;
    border-radius: 20px;
    bottom: 150px;
    height: 110px;
    width: 300px;
    padding: 15px;
    background: rgba(252, 249, 249, 0.4);
    left: 760px;
}



.icon-and-min-max-container3 {
    padding: 10px;
    color:black;
}

.side-hour-date3 {
    position: absolute;
    bottom: 80px;
}

.side-hour-icon3 {
    display: inline-block;
    position: relative;
    left: 140px;
}


.side-hour-max-min3 {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 140px;
}

.side-hour-max-min3 h1{
    font-size: 13px;
}


.side-hour-weather-d3 {
    position: absolute;
    left: 200px;
}

.side-hour-weather-d3 h1{
    font-size: 13px;
}


.side-hour-time3 {
    position: absolute;
    bottom: 30px;
    left: 30ps;
}

.side-hour-time3 h1 {
    font-size: 30px;
}









/* Hover popup for ? */



.span-popup {
    width: 10px;
    position: relative;
    bottom: 340px;
    left: 440px;
}

.span-popup h1 {
    color: white;
    font-size: 20px;

}


.tooltipp {
    position:relative; 
    border-bottom:1px dashed #000;
  }

  .tooltipp:before {
    content: attr(data-text);
    position:absolute;
    
    top:50%;
    transform:translateY(-20%);
    

    left:100%;
    margin-left:15px; 
    

    width:200px;
    padding:10px;
    font-size: 10px;
    border-radius:10px;
    background:#000;
    color: #fff;
    text-align:center;
  
    display:none; 
  }

  .tooltipp:hover:before {
    display:block;
  } 


  #hourly-weather {
    position: absolute;  
    bottom: 485px;
    left: 760px;
    color: white;
    text-shadow: 2px 2px black;

}