
body{
    background-color: rgb(65, 64, 64)
}

 /* Email Form at Footer */

 .powered-by-footer p a{
    color:white;
    text-decoration: none;
 }

 .powered-by-footer p a:hover{
    color:rgb(93, 86, 133);
    text-decoration: underline;
 }







 /* Start of subscribe button itself */

.subscribe-btn {
    /* Subscribe button itself */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.subscribe-btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.subscribe-btn:hover {
    background: #9a999b;
    color: #424242;
}
/* End of subscribe button itself */

    


#subscribe-button {
    /* Subscribe button div container */
    display: inline-block;
    position: relative;
    bottom: 1px;
}




#subscribe-form {
    /* Email form div container */
    display: inline-block;
}



.email-form {
    /* Email form form itself */
    background-color: rgb(51, 51, 51);
    height: 40px;
    width: 300px;
    border-radius: 10px;
    color: white;
}



.subscribe-form-and-button {
    /* Subscribe form for button and form containter */
    margin-bottom: 10px;
}

 /* End Email Form at Footer */






/* Start of popup message for email subscribing */
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid black;
    width: 30%;
    position: absolute;
    transition: all 5s ease-in-out;
  }
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}


.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}
/* End of popup message for email subscribing */






















/* Start find location search box and find button */


.searched-container {
    /* Container for both search box and find button */
    width: 1000px;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    left: 215px;
    bottom: 10px;
    margin-top: 20px;
}



.searched-box-box {
    /* CSS for search box container */
    display: inline-block;
}


.searched-box-box input{
    /* CSS for search box itself */
    width: 600px;
    background-color: rgb(51, 51, 51);
    height: 47px;
    border-radius: 30px;
    color: white;
}


.searched-button-btn {
    /* CSS for search button 'find' btn */
    display: inline-block;
    position: relative;
    right: 80px;
    bottom: 2px;
}

.searched-button-btn input {
    display: flex;
    flex-direction: column;
    width: 70px;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 20px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.searched-button-btn input:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
  
  .searched-button-btn input:hover {
      background: #9a999b;
      color: #424242;
  }
  /* End of find button itself */
  
      

/* End find location search box and find button */

















/* Start of weather output box thing */


.main-weather-output-container {
    /* Main container for weather output box */
    width: 1000px;
    margin: auto;
}


/* If weather_main_report == 'Rain' */
.rainy-weather-box {
    /* first container for the first weather output box */
    width: 500px;
    background: url("https://images.pexels.com/photos/68357/pexels-photo-68357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    padding: 10px;
    border-radius: 20px;
    height: 340px;
    margin: auto;
}




/* City name and location icon stuff */
.city-name-location-icon-contain {
    /* city name and loctation icon main container div */
    border: 2px solid black;
    position: relative;
    margin-bottom: 5px;
    width: 240px;
    background: rgba(34, 34, 34, 0.4);
    border-radius: 20px;
}
.city-name {
    /* City name inside container */
    color: rgb(255, 255, 255);
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0);
    font-weight: bold;
    text-shadow: 2px 2px black;
}
.location-icon {
    /* Location icon inside container */
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0);
    position: relative;
    bottom: 10px;
    color: white;
    left: 5px;
}
/* End of city name and location icon stuff */





/* switch buttons */

.switch-btns {
    border: 2px solid black;
    width: 300px;
    margin: auto;
}

.first-switch-btn {
    display: inline-block;
}

.second-switch-btn {
    display: inline-block;
}






/* Hover popup for ? */



.span-popup {
    width: 10px;
    position: relative;
    bottom: 340px;
    left: 440px;
}

.span-popup h1 {
    color: white;
    font-size: 20px;

}


.tooltipp {
    position:relative; 
    border-bottom:1px dashed #000;
  }

  .tooltipp:before {
    content: attr(data-text);
    position:absolute;
    
    top:50%;
    transform:translateY(-20%);
    

    left:100%;
    margin-left:15px; 
    

    width:200px;
    padding:10px;
    font-size: 10px;
    border-radius:10px;
    background:#000;
    color: #fff;
    text-align:center;
  
    display:none; 
  }

  .tooltipp:hover:before {
    display:block;
  } 
