/* Main container for the weekly forecast div */
.weekly-forecast-container {
    width: 670px;
    padding: 5px;
    text-align: center;
    margin: auto;
    position: relative;
    display: flex;
    left: 45px;
    display: none;
}

/* All of the h1's inside of the main container */
#weekly-day-h1 {
    font-size: 20px;
}



/* ########################################################################## */




/* DAY ONE */
/* ~MAIN CONTAINER~ for the first day in the weekly forecast */
.weekly-forecast-container .one-day {
    border: 2px solid black;
    display: inline-block;
    margin-left: 15px;
    width: 130px;
    background: rgb(36, 36, 36);
    border-radius: 15px;
    height: 275px;
}
/* css class for ~DAY OF THE WEEK~ h1 */
.weekly-forecast-container .one-day h1 {
    border-bottom: 2px solid black;
    background: white;
    border-radius: 15px;
    color: black;
}
/* css class first day weather description ~ICON~ */
.one-day .weekly-forecast-icons-d1 {
    position: absolute;
    right: 545px;
    bottom: 160px;

}
/* css class for first day ~WEATHER DESCRIPTION~ */
.weekly-forecast-container .one-day h2 {
    font-size: 15px;
    color: white;
    width: 125px;
    bottom: 130px;
    position: absolute;

}
/* css class for the first day ~HIGH TEMP~ h3 */
.day-one-max-temp h3{
    font-size: 25px;
    left: 35px;
    color: white;
    position: absolute;
    top: 200px;
}
/* css class for the first day ~LOW TEMP~ h3 */
.weekly-forecast-container .day-one2-h3 h3{
    font-size: 20px;
    left: 55px;
    color: white;
    position: absolute;
    top: 240px;
}



/* ########################################################################## */




/* DAY TWO */
/* ~MAIN CONTAINER~ for the second day in the weekly forecast */
.weekly-forecast-container .two-day {
    border: 2px solid black;
    display: inline-block;
    margin-left: 15px;
    width: 130px;
    background: rgb(36, 36, 36);
    border-radius: 15px;
    height: 275px;
}
/* css class for ~DAY OF THE WEEK~ h1 */
.weekly-forecast-container .two-day h1 {
    border-bottom: 2px solid black;
    background: white;
    border-radius: 15px;
    color: black;
}
/* css class second day weather description ~ICON~ */
.weekly-forecast-icons-d2 {
    position: absolute;
    right: 396px;
    top: 50px;

}
/* css class for second day ~WEATHER DESCRIPTION~ */
.weekly-forecast-container .two-day h2 {
    font-size: 15px;
    color: white;
    width: 125px;
    bottom: 135px;
    position: absolute;

}
/* css class for the second day ~HIGH TEMP~ h3 */
.day-two-max-temp h3{
    font-size: 25px;
    right:387px;
    color: white;
    position: absolute;
    top: 200px;
}
/* css class for the second day ~LOW TEMP~ h3 */
.day-two-min-temp h3{
    font-size: 20px;
    color: white;
    right: 405px;
    top: 240px;
    position: absolute;
}



/* ########################################################################## */



/* DAY THREE */
/* ~MAIN CONTAINER~ for the % THREE DAY % in the weekly forecast */
.weekly-forecast-container .three-day {
    border: 2px solid black;
    display: inline-block;
    margin-left: 15px;
    width: 130px;
    background: rgb(36, 36, 36);
    border-radius: 15px;
    height: 275px;
}
/* css class for ~DAY OF THE WEEK~ h1 */
.weekly-forecast-container .three-day h1 {
    border-bottom: 2px solid black;
    background: white;
    border-radius: 15px;
    color: black;
}
/* css class three day weather description ~ICON~ */
.weekly-forecast-icons-d3 {
    position: absolute;
    right: 250px;
    top: 50px;
}
/* css class for three day ~WEATHER DESCRIPTION~ */
.weekly-forecast-container .three-day h2 {
    font-size: 15px;
    color: white;
    width: 125px;
    bottom: 135px;
    position: absolute;

}
/* css class for the three day ~HIGH TEMP~ h3 */
.day-three-max-temp h3{
    font-size: 25px;
    color: white;
    right: 241px;
    top: 200px;
    position: absolute;
}
/* css class for the three day ~LOW TEMP~ h3 */
.day-three-min-temp h3{
    font-size: 20px;
    top: 240px;
    left: 343px;
    color: white;
    position: absolute;
}



/* ########################################################################## */



/* DAY FOUR */
/* ~MAIN CONTAINER~ for the % FOURTH DAY % in the weekly forecast */
.weekly-forecast-container .four-day {
    border: 2px solid black;
    display: inline-block;
    margin-left: 15px;
    width: 130px;
    background: rgb(36, 36, 36);
    border-radius: 15px;
    height: 275px;
}
.weekly-forecast-container .four-day h1 {
    border-bottom: 2px solid black;
    background: white;
    border-radius: 15px;
    color: black;
}

/* css class four day weather description ~ICON~ */
.weekly-forecast-icons-d4 {
    position: absolute;
    right: 105px;
    bottom: 157px;
}
/* css class for four day ~WEATHER DESCRIPTION~ */
.weekly-forecast-container .four-day h2 {
    font-size: 15px;
    color: white;
    position: absolute;
    top: 130px;
    right: 119px;

}
/* css class for the four day ~HIGH TEMP~ h3 */
.day-four-max-temp h3{
    font-size: 25px;
    color: white;
    right: 95px;
    top: 200px;
    position: absolute;
}
/* css class for the four day ~LOW TEMP~ h3 */
.day-four-min-temp h3{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 240px;
    right: 113px;
}





@media(max-width:991px) {
    /* for weekly weather widget */
    .weekly-forecast-container {
        display: none;
    }
}