{% extends 'base.html' %}

    
{% block content %}
<title>Weather Site | About</title>


{% load static %}
<link rel="stylesheet" href="{% static 'css/about_page.css' %}">
<link rel="stylesheet" href="{% static 'css/home_w_d_cs.css' %}">


<br>
<div class="main">
    <h1>About This Website</h1>
    <p>Welcome to my demo Weather website! This website was built using the Django web framework and the OpenWeather API to 
        bring you the most accurate and up-to-date weather information. With this website, you can easily check the current weather 
        conditions, forecasted weather for the next 5 days, and detailed weather information for any city around the world. The 
        website was built as a project to showcase my skills as a full stack developer, and I hope you find it useful for 
        all your weather needs.</p>

        <p>For more information about me or my skills here are some links</p>

        <div class="about-links">
            <a href="https://github.com/Christopher1994-1?tab=repositories" id="github-link" target="_blank">My GitHub</a>
            <a href="http://kirko190255.pythonanywhere.com/" id="website-link" target="_blank">My Website</a>
        </div>


        <img id="one-true-god" src="{% static 'images/square_compass.png' %}" alt="" width="25" height="25">

</div>

<br>

{% endblock %}
