{% extends 'base.html' %}

    
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">

{% if submitted %}
{% if messages %}
    {% for message in messages %}
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Here i am</h2>
            <a class="close" href="{% url 'home' %}">&times;</a>
            <div class="content">
                Thank to pop me out of that button, but now i'm done so you can close this window.
            </div>
        </div>
    </div>
    
    <form action="{% url 'searched' %}" method="POST">
        {% csrf_token %}
        <div class="searched-container">
    
            <div class="searched-box-box">
                <input type="search" name="searched-location" id="" placeholder="Find Your Loctation">
            </div>
    
            <div class="searched-button-btn">
                <input type="submit" name="" id="" value="Find">
            </div>
        </div>
    </form>
    

    {% endfor %}
{% endif %}


{% else %}

<form action="{% url 'searched' %}" method="POST">
    {% csrf_token %}
    <div class="searched-container">

        <div class="searched-box-box">
            <input type="search" name="searched-location" id="" placeholder="Find Your Loctation...">
        </div>

        <div class="searched-button-btn">
            <input type="submit" name="" id="" value="Find">
        </div>
    </div>
</form>




<div class="main-weather-output-container">

    <div class="rainy-weather-box">

        <div class="side-weather-part">
            <div class="">

            </div>

        </div>


        <div class="actual-weather-degrees">
            <h1>29°c</h1>

        </div>


        <div class="weather-day">
            <h1>{{ day_of_the_week }}: {{ now }}</h1>
        </div>


    </div>

</div>

{% endif %}



{% endblock %}
