{% extends 'base.html' %}

    
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/home_w_d_cs.css' %}">


<!-- Search bar and button -->

<form action="{% url 'searched' %}" method="POST">
    {% csrf_token %}
    <div class="searched-container">

        <div class="searched-box-box">
            <input type="search" name="searched-location" id="" placeholder="Find Your Loctation...">
        </div>

        <div class="searched-button-btn">
            <input type="submit" name="" id="" value="Find">
        </div>
    </div>
</form>



 <!-- Switch buttons -->
<div class="switch-btns">

    <div class="first-switch-btn">
        <form action="{% url 'metric_button' %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="metric" value="0">Metric</button>
        </form>
    </div>


    <div class="second-switch-btn">
        <form action="{% url 'imperial_button' %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="imperial" value="1">Imperial</button>
        </form>
    </div>

</div>




<!-- I am thinking about putting both the current weather widget and the daily ones on same line -->



{% if unit_value == '0' %}

    {% if weather_main_report == 'Clouds' %}
        <div class="main-weather-output-container-cloudy">

            <div class="cloudy-weather-box">

                <!-- city name and location divs widget -->
                <div class="city-name-location-icon-contain-cloudy">

                    <div class="location-icon">
                        <img src="{% static 'images/location-icon-white.png' %}" alt="location icon" width="25" height="25">
                    </div>


                    <div class="city-name">
                        <h1>{{ city_name }}</h1>
                    </div>

                </div>



            <!-- Main weather description and weather icon widget -->
            <div class="weather-d-container-cloudy">

                <div class="weather-description-cloudy">
                    <h1>{{ weather_main_report }}</h1>
                </div>

                <div class="weather-d-icon-cloudy">
                    <img src="{% static 'images/cloudy2-white.png' %}" alt="" height="50" width="65">

                </div>

            </div>

        
        <!-- Actual weather description widget -->
        <div class="actual-weather-dcloudy">
            <h1>{{ weather_description }}</h1>
        </div>


        <!-- Current weather in fahrenheit widget -->
        <div class="actual-weather-degrees-cloudy">
            <h1>{{ current_weather }}°f</h1>
        </div>



        <!-- Current time and date widget -->
        <div class="weather-day-cloudy">
            <h1>{{ day_of_the_week }}: {{ now }}</h1>
        </div>



        <div class="max-min-temp-div-cloudy">
            <h1>Max Temp: {{ max_temp }}</h1>
            <h1>Min Temp: {{ min_temp }}</h1>
        </div>


        <div class="humidty-cloudy">
            <h1>Humidity</h1>
            <h2>{{ humidity }}</h2>
        </div>


        <div class="wind-speed-cloudy">
            <div class="wind-speed-icon">
                <img src="{% static 'images/wind-icon-white.png' %}" alt="" width="50" height="50">
            </div>
            <div class="wind-speed-speed">
                <h1>{{ wind_speed }} mph: {{ wind_dir }}</h1>
            </div>
        </div>


        <div class="visibility-container">

            <div class="visibility-icon-cloudy">
                <img src="{% static 'images/visual-icon-white.png' %}" alt="" width="60" height="65">
            </div>

            <div class="visibility-visibility">
                <h1>{{ visual }} miles</h1>
            </div>

        </div>

        <div class="span-popup">
            <h1 class="tooltipp" data-text="OpenWeatherAPI has a max limit visibility of 10000 meters which is around 6 miles. Max visibility is 6 miles">?</h1>
        </div>


    </div>


</div>

<div class="next-hours-weather-cloudy">

    <h1>Next Few Hours</h1>
    <hr>

    <div class="icon-and-min-max-container">
        <!-- TODO Do jinja logic to determine what weather icon needs to be shown  -->


    </div>

</div>


<div>
    <h1>Something else</h1>
</div>




{% elif weather_main_report == 'Rain' %}
<h1>Rain</h1>

{% endif %}


{% else %}
<div class="main-weather-output-container">

    <div class="rainy-weather-box">


        <div class="city-name-location-icon-contain">

            <div class="city-name">
                <h1>{{ city_name }}</h1>
            </div>

        </div>



        <div class="weather-d-container">

            <div class="weather-description">
                <h1>{{ weather_description }}</h1>
            </div>

        </div>



        <div class="actual-weather-degrees">
            <h1>{{ to_celsius }}°c</h1>
        </div>




        <div class="weather-day">
            <h1>{{ day_of_the_week }}: {{ now }}</h1>
        </div>


    </div>

</div>

{% endif %}

{% endblock %}
