<!-- If main weather description == rain -->

{% load static %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/home_night.css' %}">

{% block content %}
<div class="main-weather-output-container-sunny">

    <div class="sunny-weather-box">

        <!-- city name and location divs widget -->
        <div class="city-name-location-icon-contain-sunny">

            <div class="location-icon">
                <img src="{% static 'images/location-icon-white.png' %}" alt="location icon" width="25" height="25">
            </div>


            <div class="city-name">
                <h1>{{ city_name }}</h1>
            </div>

        </div>



        <!-- Main weather description and weather icon widget -->
        <div class="weather-d-container-sunny">

            <div class="weather-description-cloudy">
                <h1>{{ weather_description }}</h1>
            </div>

        </div> 

        <div class="weather-d-icon-sunny">
            {% include 'home_icon_main.html' %}
        </div>



        {% if length_cw == 3 %}
            {% if unit_value == '0' %}
                <!-- Current weather in fahrenheit widget -->
                <div class="actual-weather-degrees-sunny">
                    <h1>{{ current_weather }}°f</h1>
                </div>
            {% else %}
                <!-- Current weather in fahrenheit widget -->
                <div class="actual-weather-degrees-sunny">
                    <h1>{{ to_celsius }}°c</h1>
                </div>
            {% endif %}

            <!-- Current time and date widget -->
            <div class="weather-day-sunny">
                <h1>{{ day_of_the_week }}: {{ now }}</h1>
            </div>


        {% else %}
            {% if unit_value == '0' %}
                <!-- Current weather in fahrenheit widget -->
                <div class="actual-weather-degrees-sunny-con">
                    <h1>{{ current_weather }}°f</h1>
                </div>
            {% else %}
                <!-- Current weather in fahrenheit widget -->
                <div class="actual-weather-degrees-sunny-con">
                    <h1>{{ to_celsius }}°c</h1>
                </div>
            {% endif %}

            <!-- Current time and date widget -->
            <div class="weather-day-sunny-con">
                <h1>{{ day_of_the_week }}: {{ now }}</h1>
            </div>
        {% endif %}




        <!-- Right side of weather widget -->

        {% if unit_value == '0' %}
            <div class="max-min-temp-div-rainy">
                <h1>Max Temp: {{ max_temp }}</h1>
                <h1>Min Temp: {{ min_temp }}</h1>
            </div>
        {% else %}
            <div class="max-min-temp-div-rainy">
                <h1>Max Temp: {{ met_max_temp }}</h1>
                <h1>Min Temp: {{ met_min_temp }}</h1>
            </div>
        {% endif %}


        <div class="humidty-sunny">

            <div class="humidity-img">
                <img src="{% static 'images/hum-white.png' %}" alt="location icon" width="40" height="40">
            </div>

            <div class="humidity-percentage">
                <h1>{{ humidity }}</h1>
            </div>

        </div>

    
        <div class="wind-speed-sunny">
            <div class="wind-speed-icon">
                <img src="{% static 'images/wind-icon-black.png' %}" alt="" width="40" height="40">
            </div>

            {% if unit_value == '0' %}
                <div class="wind-speed-speed-rain">
                    <h1>{{ wind_speed }} mph:</h1>
                    <h1 id="wind-dir-id">{{ wind_dir }}</h1>
                </div>
            {% else %}
                <div class="wind-speed-speed-rain">
                    <h1>{{ met_windSpeed }} hp/h:</h1>
                    <h1 id="wind-dir-id">{{ wind_dir }}</h1>
                </div>
            {% endif %}
        </div>


        <div class="visibility-container-rain">

            <div class="visibility-icon-rainy">
                <img src="{% static 'images/visual-icon-black.png' %}" alt="" width="40" height="45">
            </div>

            {% if unit_value == '0' %}
                <div class="visibility-visibility-rain">
                    <h1>{{ visual }} miles</h1>
                </div>
            {% else %}
                <div class="visibility-visibility-rain">
                    <h1>{{ met_visual }} kilo</h1>
                </div>
            {% endif %}

        </div>



    </div>
</div>

<div class="span-popup-sunny">
    <h1 class="tooltipp" data-text="OpenWeatherAPI has a max limit visibility of 10000 meters which is around 6 miles. Max visibility is 6 miles">?</h1>
</div>

{% endblock %}