{% block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/home_w_d_cs.css' %}">


<!-- Checking if clear sky and time of day is morning/afternoon -->
{% if second_hour_d == 'clear sky' and time_of_day == True %} <!-- day == True means day -->

    <div class="side-hour-icon">
        <img src="{% static 'images/sunny-black.png' %}" alt="" width="55" height="50">
    </div>

<!-- Checking if clear sky and time of day is evening/night -->
{% elif second_hour_d == 'clear sky' and time_of_day == False %} <!-- day == False means night -->
    <div class="side-hour-icon">
        <img src="{% static 'images/clear-night-black.png' %}" alt="" width="55" height="50">
    </div>


<!-- Checking if light clouds  -->
{% elif second_hour_d == 'overcast clouds' or second_hour_d == 'broken clouds' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/cloudy2.png' %}" alt="" width="55" height="50">
    </div>
    

<!-- Checking if heavy clouds  -->
{% elif second_hour_d == 'few clouds' or second_hour_d == 'scattered clouds' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/few-clouds-black.png' %}" alt="" width="55" height="50">
    </div>


<!-- Checking if light rain  -->
{% elif second_hour_d == 'light rain' or second_hour_d == 'moderate rain' or second_hour_d == 'light intensity shower rain' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/light-rain-black.png' %}" alt="" width="55" height="50">
    </div>


<!-- Checking if drizzle -->
{% elif second_hour_d == 'light intensity drizzle' or second_hour_d == 'drizzle' or second_hour_d == 'heavy intensity drizzle' or second_hour_d == 'light intensity drizzle rain' or second_hour_d == 'drizzle rain' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/light-rain-black.png' %}" alt="" width="55" height="50">
    </div>


<!-- Checking if drizzle 2 -->
{% elif second_hour_d == 'heavy intensity drizzle rain' or second_hour_d == 'shower rain and drizzle' or second_hour_d == 'heavy shower rain and drizzle' or second_hour_d == 'shower drizzle' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/light-rain-black.png' %}" alt="" width="55" height="50">
    </div>



<!-- Checking if freezing rain  -->
{% elif second_hour_d == 'freezing rain' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/freezing-rain.png' %}" alt="" width="55" height="50">
    </div>

    
<!-- Checking if heavy rain  -->
{% elif second_hour_d == 'heavy intensity rain' or second_hour_d == 'very heavy rain' or second_hour_d == 'very heavy rain' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/heavy-rain-black.png' %}" alt="" width="55" height="50">
    </div>

<!-- Checking if heavy rain 2 -->
{% elif second_hour_d == 'extreme rain' or second_hour_d == 'shower rain' or second_hour_d == 'heavy intensity shower rain' or second_hour_d == 'ragged shower rain' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/heavy-rain-black.png' %}" alt="" width="55" height="50">
    </div>







<!-- Checking if light snow -->
{% elif second_hour_d == 'light snow' or second_hour_d == 'snow' or second_hour_d == 'Light shower snow' or second_hour_d == 'shower sleet' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/light-snow.png' %}" alt="" width="55" height="50">
    </div>


<!-- Checking if sleet snow -->
{% elif second_hour_d == 'sleet' or second_hour_d == 'light rain and snow' or second_hour_d == 'rain and snow' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/sleet.png' %}" alt="" width="50" height="45">
    </div>


<!-- Checking if heavy snow -->
{% elif second_hour_d == 'heavy snow' or second_hour_d == 'shower sleet' or second_hour_d == 'shower snow' or second_hour_d == 'heavy shower snow' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/heavy-snow-black.png' %}" alt="" width="55" height="50">
    </div>









<!-- Checking if thunderstorm with rain -->
{% elif second_hour_d == 'thunderstorm with light rain' or second_hour_d == 'thunderstorm with rain' or second_hour_d == 'thunderstorm with heavy rain' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/thunderstorm-with-rain.png' %}" alt="" width="55" height="50">
    </div>


<!-- Checking if thunderstorm with rain -->
{% elif second_hour_d == 'thunderstorm with light drizzle' or second_hour_d == 'thunderstorm with drizzle' or second_hour_d == 'thunderstorm with heavy drizzle' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/thunderstorm-with-rain.png' %}" alt="" width="55" height="50">
    </div>


<!-- Checking if heavy thunderstorm -->
{% elif second_hour_d == 'heavy thunderstorm' or second_hour_d == 'ragged thunderstorm' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/heavy-thunder-black.png' %}" alt="" width="55" height="50">
    </div>


<!-- Checking if light thunderstorm -->
{% elif second_hour_d == 'light thunderstorm' or second_hour_d == 'thunderstorm' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/light-thunder-black.png' %}" alt="" width="55" height="50">
    </div>

<!-- Checking if Atmosphere -->
{% elif second_hour_d == 'mist' or second_hour_d == 'Smoke' or second_hour_d == 'Haze' or second_hour_d == 'sand/ dust whirls' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/mist.png' %}" alt="" width="55" height="50">
    </div>

<!-- Checking if Atmosphere 2 -->
{% elif second_hour_d == 'fog' or second_hour_d == 'sand' or second_hour_d == 'dust' or second_hour_d == 'volcanic ash' %}
<div class="side-hour-icon">
    <img src="{% static 'images/mist.png' %}" alt="" width="55" height="50">
</div>

<!-- Checking if  Atmosphere 3 -->
{% elif second_hour_d == 'squalls' or second_hour_d == 'tornado' %}
    <div class="side-hour-icon">
        <img src="{% static 'images/torando.png' %}" alt="" width="55" height="50">
    </div>




{% endif %}



{% endblock %}