{% extends 'base.html' %}

    
{% block content %}
<title>Weather Site | News </title>


{% load static %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">

<br>

<div class="first-news-feed">

    <!--Section: News of the day-->
<div class="row gx-5">
    <div class="col-md-6 mb-4">
      <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
        <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid-1"/>
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
    </div>
  
    <div class="col-md-6 mb-4">
      <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
      <h4><strong>Facilis consequatur eligendi</strong></h4>
      <p class="text-muted1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
        eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
        sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
      </p>
      <button type="button" class="btn btn-primary">Read more</button>
    </div>
  </div>
  
  <!--Section: News of the day-->

</div>

<br>



<div class="news-container">
    <h1 id="main-news-header">Other News</h1>


    <!-- First news story div container -->
        <div class="first-news-story">

            <div class="first-title">
                <h1>Nationwide winter storm set to bring everything from blizzard conditions to tornadoes.</h1>
            </div>

            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deserunt distinctio dolorum earum voluptas nostrum quaerat nam cum tempore rem ipsam ipsa est nesciunt neque necessitatibus, architecto rerum. Delectus, totam.</p>
            </div>

            <div class="first-button-and-date">

                <div class="first-news-button">
                    <a href="https://en.wikipedia.org/wiki/Lorem_ipsum" target="_blank">
                        <button type="button" class="btn btn-success">Read More</button></a>
                </div>

                <div class="first-news-date">
                    <small>April/20/2022</small>
                </div>

            </div>

        </div>



    <!-- Second news story div container -->
    <div class="second-news-story">

        <div class="second-title">
            <h1>Nationwide winter storm set to bring everything from blizzard conditions to tornadoes.</h1>
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deserunt distinctio dolorum earum voluptas nostrum quaerat nam cum tempore rem ipsam ipsa est nesciunt neque necessitatibus, architecto rerum. Delectus, totam.</p>
        </div>

        <div class="second-button-and-date">

            <div class="second-news-button">
                <a href="https://en.wikipedia.org/wiki/Lorem_ipsum" target="_blank">
                    <button type="button" class="btn btn-success">Read More</button></a>
            </div>

            <div class="second-news-date">
                <small>April/20/2022</small>
            </div>

        </div>
    </div>



    <!-- Third news story div container -->
    <div class="third-news-story">

        <div class="third-title">
            <h1>Nationwide winter storm set to bring everything from blizzard conditions to tornadoes.</h1>
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deserunt distinctio dolorum earum voluptas nostrum quaerat nam cum tempore rem ipsam ipsa est nesciunt neque necessitatibus, architecto rerum. Delectus, totam.</p>
        </div>

        <div class="third-button-and-date">

            <div class="third-news-button">
                <a href="https://en.wikipedia.org/wiki/Lorem_ipsum" target="_blank"><button type="button" class="btn btn-success">Read More</button></a>
            </div>

            <div class="third-news-date">
                <small>April/20/2022</small>
            </div>

        </div>
    </div>


</div>


<br>




<div class="news-container">
    <h1 id="main-news-header">More News</h1>


    <!-- First news story div container -->
        <div class="first-news-story">

            <div class="first-title">
                <h1>Nationwide winter storm set to bring everything from blizzard conditions to tornadoes.</h1>
            </div>

            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deserunt distinctio dolorum earum voluptas nostrum quaerat nam cum tempore rem ipsam ipsa est nesciunt neque necessitatibus, architecto rerum. Delectus, totam.</p>
            </div>

            <div class="first-button-and-date">

                <div class="first-news-button">
                    <a href="https://en.wikipedia.org/wiki/Lorem_ipsum" target="_blank">
                        <button type="button" class="btn btn-success">Read More</button></a>
                </div>

                <div class="first-news-date">
                    <small>April/20/2022</small>
                </div>

            </div>

        </div>



    <!-- Second news story div container -->
    <div class="second-news-story">

        <div class="second-title">
            <h1>Nationwide winter storm set to bring everything from blizzard conditions to tornadoes.</h1>
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deserunt distinctio dolorum earum voluptas nostrum quaerat nam cum tempore rem ipsam ipsa est nesciunt neque necessitatibus, architecto rerum. Delectus, totam.</p>
        </div>

        <div class="second-button-and-date">

            <div class="second-news-button">
                <a href="https://en.wikipedia.org/wiki/Lorem_ipsum" target="_blank">
                    <button type="button" class="btn btn-success">Read More</button></a>
            </div>

            <div class="second-news-date">
                <small>April/20/2022</small>
            </div>

        </div>
    </div>



    <!-- Third news story div container -->
    <div class="third-news-story">

        <div class="third-title">
            <h1>Nationwide winter storm set to bring everything from blizzard conditions to tornadoes.</h1>
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo deserunt distinctio dolorum earum voluptas nostrum quaerat nam cum tempore rem ipsam ipsa est nesciunt neque necessitatibus, architecto rerum. Delectus, totam.</p>
        </div>

        <div class="third-button-and-date">

            <div class="third-news-button">
                <a href="https://en.wikipedia.org/wiki/Lorem_ipsum" target="_blank"><button type="button" class="btn btn-success">Read More</button></a>
            </div>

            <div class="third-news-date">
                <small>April/20/2022</small>
            </div>

        </div>
    </div>


</div>

<br>


{% endblock %}