{% extends 'base.html' %}

    
{% block content %}
<title>Weather Site | Searched</title>

{% load static %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/home_w_d_cs.css' %}">
<link rel="stylesheet" href="{% static 'css/weekly_forecast.css' %}">
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<link rel="stylesheet" href="{% static 'css/live_feeds.css' %}">
<link rel="stylesheet" href="{% static 'css/searched.css' %}">





{% if searched_location %}

    {% include 'searched_result_true.html' %}

{% else %}

    {% include 'searched_result_none.html' %}

{% endif %}

<br>



{% endblock %}
